* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}


header {
    background-color: #694A38;
    color: white;
    padding: 30px 0;
    text-align: center;
}

header h1{
    font-size: 40px;
}

header nav a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    margin-right: 15px;
    margin-left: 15px;
    transition : color 0.5s;
}


header nav a:hover{
    color: blueviolet;
}

header nav{
margin-top: 20px;
}

footer{
    background-color: brown;
    color: white;
    text-align: center;
    padding: 20px 0;
    font-size: 20px;
    margin-top: 30px;  
}

body{
    background-color: #F8F4A6;
}

main{
     -webkit-box-shadow: 0px 0px 14px 1px rgba(0,0,0,0.3); 
    box-shadow: 0px 0px 14px 1px rgba(0, 0, 0, 0.3);
    max-width: 900px;
    width: 900px;
    background-color: #fff;
    text-align: center;
    margin: auto;  
    padding: 100px;  
    margin-top: 25px;
    border-radius: 10px;   
}


.noticia-principal{
    background-color: #F8F4A6;
    padding: 15px 40px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.2); 
    box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.2);
    margin-bottom: 40px;
}

.noticia-principal img{
     width: 500px;
     height: 500px;
     border-radius: 10px;
}

.noticia-principal h2{
    margin-top: 20px;
    margin-bottom: 20px;
}

.noticias-series img {
     width: 250px;
     height: 300px;
     object-fit: cover;
     border-radius: 10px;
}



.noticias-series {
    border-radius: 10px;
    flex-direction: row;
    width: 250px;
    background-color: #ddd;
    padding: 20px 15px;
    
    
}
.noticias-series h3 {
    margin-top: 15px;
    margin-bottom: 1%;
    padding: 20px;
    
}



.container-noticias{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}



